<div>
    <snap-drawer>
        <div class="snap-menu">
            <div class="sidebar-header text-center">
                <img src="../../../img/minio-avatar.png" alt="" class="sidebar-img img-circle">
            </div>
            <ul class="snap-ul">
                <li ng-class="{active: $state.includes('devices')}"><a ui-sref="devices">DEVICES</a></li>
                <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">REPORTS</a></li>
                <li><a ui-sref="login">LOGOUT</a></li>
            </ul>
        </div>
    </snap-drawer>
    <snap-dragger></snap-dragger>
    <snap-content>

        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
        </a>

        <div class="fr">
            <h2>Device</h2>
        </div>
        <span class="glyphicon glyphicon-phone bg-fade"></span>
        <div class="jumbotron">
            <div class="container">
                <p>
                    <a ui-sref="newDevice" class="btn btn-primary btn-lg btn-white">Add New Device</a>
                </p>
                <div class="row">
                    <div class="col-sm-6 col-md-4" ng-repeat="device in devices">
                        <div class="thumbnail">
                            <a ui-sref="viewDevice({id:device.id})"><img ng-src="{{device.imageUrl}}"></a>
                            <div class="caption">
                                <h3>{{device.name}}</h3>
                                <p><a class="btn btn-primary btn-lg btn-white" ui-sref="viewDevice({id:device.id})">View</a> <a class="btn btn-primary btn-lg btn-red"  ng-click="deleteDevice(device)">Delete</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <a ui-sref="newDevice" class="btn btn-primary btn-lg btn-white">Add New Device</a>
                </p>
            </div>
        </div>
    </snap-content>
</div>